body {
    font-family: 'Games Regular', serif;
}

.gameDiv {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 0 0 1rem 0;
}

.scoreDiv {
    text-align: left;
}

.playDiv {
    text-align: left;
    position: relative;
}

.waitingForPlayers {
    text-align: center;
    size: 15px;
    color: black;
    font-family: 'Games Regular', serif;
}

@font-face {
    font-family: 'Games Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Games Regular'), url('font/Games.woff') format('woff');
}

@font-face {
    font-family: 'Games Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Games Italic'), url('font/Games-Italic.woff') format('woff');
}

#playDivApple {
}

html {
    width: 100%;
    height: 100%;
}

.logo {
    width: 400px;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
}
